<!DOCTYPE html>
<html>
	<head>
		<title><%= (@title ? @title + " ★ " : "") + "ᴄᴏɴstellation" %></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/vendor/introjs/introjs.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>
	<body>
		<div class="container">
			<%= erb :navbar %>
			<%= erb :errors %>


			<%= yield %>

			<div id="footer">
				<h6 class="tourfoot"><a onclick='startTour()'>Tour</a></h6>
				A <a href="https://www.canadianopendataexperience.com">CODE</a> 2015 48-hour Hackathon Project with source code on <a href="https://github.com/IPPETAD/code-2015">GitHub</a>.<br />
				Contains information licensed under the <a href="http://data.gc.ca/eng/open-government-licence-canada">Open Government Licence – Canada.</a>

				<br />
				Crafted in Edmonton by
					<a href="https://ualberta.ca/~jtfinlay/">James Finlay</a>,
					<a href="http://afontaine.ca/">Andrew Fontaine</a>,
					<a href="https://ranek.org/">Ranek Kiil</a>, and
					<a href="http://jviau.ca">Jacob Viau</a>.
				<br />

				With resources such as
					<a href="http://getbootstrap.com">Bootstrap</a>,
					<a href="http://www.sinatrarb.com">Sinatra</a>,
					<a href="http://www.mongodb.org">MongoDB</a>,
					and more.

		    </div>

		</div>
	</body>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<%= javascripts %>
</html>
